<div class="header">
  <div class="jumbotron">
    <div class="container">
      <h1><%=image_tag("main.jpg") %><small>Find your favourite song!<small><h1>
    </div>

    <div class="fullscreen nopadding">
      <div id="header">
        <ul>
          <li><%= form_tag("/search/", method: "get") do %>
                <%= text_field_tag :artist %>
                <%= submit_tag "ðŸ”", class: "singer" %>
              <% end %>
          </li>
          <li><%= form_tag("/popular", method: "get") do %>
                <%= submit_tag "ðŸ’—", class: "popular" %>
              <% end %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
