<h1>Search for your Jam!</h1>
<div class="random-api">
  <%= button_tag "IDK, Show me what's HOT!", class: "random" %>
</div>
<div class=search-form>
  <%= form_tag(search_path, method: :get, role: "search") do %>
    <%= label_tag "Search: " %>
    <%= text_field_tag :artist, nil, placeholder: "by Artist" %>
    <%= button_tag "Find me a JAM", class: "submit" %>
  <% end %>
</div>
<div class="results"></div>
