<div class="container-fluid">
  <div class="jumbotron col-sm-10 col-sm-offset-1">
    <div class="page-header">
      <h1>Jam Finder</h1>
    </div>
  </div>
  <div class="col-sm-10 col-sm-offset-1 main">
    <div class="chance-block">
      <%= button_to("Get Random Jamz", chance_path, method: :get, class: "chance btn btn-primary") %>
    </div>

    <div class="input-group form-block">
      <%= form_tag(root_path, method: :get) do %>
      <%= label_tag("Find Jams by Artist") %>
      <%= text_field_tag(:artist, nil, placeholder: "search", class: "form-control")%>
      <span class="input-group-btn">
        <%= submit_tag("Search", class: "button btn btn-default") %>
      </span>
      <% end %>
    </div>
    <h3 class="some-text text-center"></h3>
    <div class="media text-center">
    </div>
  </div>
</div>
