<!DOCTYPE html>
<html>
<head>
  <title>Jeri's jQuery Jukebox</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<main class="container text-center">
  <header id="title">
    <h1><a href="/">Jeri's jQuery Jukebox</a></h1>

    <!-- search form -->
    <%= form_tag search_path, method: "get" do %>
      <%= text_field_tag :artist %>
      <%= submit_tag "Search by Artist", id: "button" %>
    <% end %>

    <div class="jukebox-choice">
      <div class="jukebox-button-outside">
        <div class="popular jukebox-button-inside-unpressed"></div>
      </div>
      <a class="popular" href="/popular">View Popular Tracks</a>
    </div><br />

    <div class="jukebox-choice">
      <div class="jukebox-button-outside">
        <div class="random jukebox-button-inside-unpressed"></div>
      </div>
      <a class="random" href="/random">View Random Tracks</a>
    </div>
  </header>

  <%= yield %>
</main>

</body>
</html>
